In [48]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from imblearn.combine import SMOTEENN
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("tel_churn.csv")
df.head()

   Unnamed: 0  index  ...  tenure_group_49 - 60  tenure_group_61 - 72
0           0      0  ...                     0                     0
1           1      1  ...                     0                     0
2           2      2  ...                     0                     0
3           3      3  ...                     0                     0
4           4      4  ...                     0                     0

[5 rows x 53 columns]

In [4]:
df.drop(["Unnamed: 0","index"],axis=1,inplace=True)

In [5]:
df.head()

   SeniorCitizen  MonthlyCharges  ...  tenure_group_49 - 60  tenure_group_61 - 72
0              0           29.85  ...                     0                     0
1              0           56.95  ...                     0                     0
2              0           53.85  ...                     0                     0
3              0           42.30  ...                     0                     0
4              0           70.70  ...                     0                     0

[5 rows x 51 columns]

In [92]:
x = df.drop("Churn",axis=1)
y = df['Churn']

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
print(y_train.value_counts())
print(y_test.value_counts())

0    4143
1    1482
Name: Churn, dtype: int64
0    1020
1     387
Name: Churn, dtype: int64

# Train test split based on stratify

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y)
print(y_train.value_counts())
print(y_test.value_counts())

0    4130
1    1495
Name: Churn, dtype: int64
0    1033
1     374
Name: Churn, dtype: int64

In [22]:
model_dt = DecisionTreeClassifier(criterion = "gini", random_state=100)
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=100, splitter='best')

In [23]:
y_pred = model_dt.predict(x_test)
y_pred

array([0, 0, 0, ..., 1, 0, 0])

In [24]:
model_dt.score(x_test,y_test)

0.7313432835820896

In [25]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.81      0.83      0.82      1020
           1       0.51      0.48      0.49       387

    accuracy                           0.73      1407
   macro avg       0.66      0.65      0.66      1407
weighted avg       0.73      0.73      0.73      1407

  As you can see that the accuracy is quite low, and as it's an imbalanced dataset, we shouldn't consider Accuracy as our metrics to measure the model, as Accuracy is cursed in imbalanced datasets.
Hence, we need to check recall, precision & f1 score for the minority class, and it's quite evident that the precision, recall & f1 score is too low for Class 1, i.e. churned customers.

# Hence, moving ahead to call SMOTEENN (UpSampling + ENN)

In [26]:
sm = SMOTEENN()
X_resampled, y_resampled = sm.fit_sample(x,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [27]:
xr_train, xr_test, yr_train, yr_test = train_test_split(X_resampled, y_resampled,test_size=0.2)

In [28]:
model_dt2 = DecisionTreeClassifier(criterion="gini",random_state=100)
model_dt2.fit(xr_train,yr_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=100, splitter='best')

In [29]:
yr_pred = model_dt2.predict(xr_test)
yr_pred

array([0, 0, 1, ..., 0, 1, 1])

In [36]:
model_score_r = model_dt2.score(xr_test, yr_test)
model_score_r

0.9311224489795918

In [34]:
# We can also use accuracy score to calculate the accuracy of the model
score = accuracy_score(yr_test, yr_pred)
score

0.9311224489795918

In [38]:
metrics.confusion_matrix(yr_test, yr_pred)

array([[473,  31],
       [ 50, 622]])

In [43]:
print(metrics.classification_report(yr_test, yr_pred))

              precision    recall  f1-score   support

           0       0.90      0.94      0.92       504
           1       0.95      0.93      0.94       672

    accuracy                           0.93      1176
   macro avg       0.93      0.93      0.93      1176
weighted avg       0.93      0.93      0.93      1176

# Random Forest

In [93]:
model_rf = RandomForestClassifier(n_estimators=100,criterion="gini")
model_rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [94]:
y_pred = model_rf.predict(x_test)

In [95]:
score = model_rf.score(x_test,y_test)
score

0.7860696517412935

In [96]:
metrics.confusion_matrix(y_test, y_pred)

array([[920, 100],
       [201, 186]])

In [97]:
sm = SMOTEENN()
x_resampled1, y_resampled1 = sm.fit_sample(x,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [99]:
xr_train1,xr_test1,yr_train1,yr_test1=train_test_split(x_resampled1, y_resampled1,test_size=0.2)

In [100]:
model_rf_smote = RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100)
model_rf_smote.fit(xr_train1,yr_train1)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=100,
                       verbose=0, warm_start=False)

In [101]:
yr_predict1 = model_rf_smote.predict(xr_test1)

In [102]:
model_score_r1 = model_rf_smote.score(xr_test1, yr_test1)
print(model_score_r1)

print(metrics.classification_report(yr_test1, yr_predict1))
print(metrics.confusion_matrix(yr_test1, yr_predict1))

0.9514893617021276
              precision    recall  f1-score   support

           0       0.95      0.94      0.95       555
           1       0.95      0.96      0.95       620

    accuracy                           0.95      1175
   macro avg       0.95      0.95      0.95      1175
weighted avg       0.95      0.95      0.95      1175

[[523  32]
 [ 25 595]]

# PCA

In [65]:
from sklearn.decomposition import PCA
pca = PCA(2)
xr_train_pca = pca.fit_transform(xr_train)
xr_test_pca = pca.transform(xr_test)
explained_variance = pca.explained_variance_ratio_
explained_variance

array([9.99854834e-01, 1.43811397e-04])

In [66]:
xr_train.shape

(4704, 50)

In [67]:
xr_train_pca.shape

(4704, 2)

In [54]:
model=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100)
model.fit(xr_train_pca,yr_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=100,
                       verbose=0, warm_start=False)

In [60]:
yr_predict_pca = model.predict(xr_test_pca)

In [57]:
model_score_r_pca = model.score(xr_test_pca, yr_test)
model_score_r_pca

0.7440476190476191

In [61]:
print(metrics.classification_report(yr_test, yr_predict_pca))

              precision    recall  f1-score   support

           0       0.69      0.72      0.71       504
           1       0.78      0.76      0.77       672

    accuracy                           0.74      1176
   macro avg       0.74      0.74      0.74      1176
weighted avg       0.75      0.74      0.74      1176

Random Forest performs better than Decision trees after applying SMOTEENN. So this model is chosen for deployment

In [103]:
import pickle
filename = 'model.sav'
pickle.dump(model_rf_smote, open(filename, 'wb'))
load_model = pickle.load(open(filename, 'rb'))
model_score_r1 = load_model.score(xr_test1, yr_test1)
model_score_r1

0.9514893617021276